.open-modal {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

img {
    height: 300px;
    width: auto;
}

.core {
  background-color: green;
}

.descriptor{
  background-color: red;
}