
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-container">
        <div class="modal-header">
            <h4 class="modal-title">Images</h4>
            <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline my-2 my-lg-0" (ngSubmit)="saveImages()">
                        <!-- <input class="form-control mr-sm-2" placeholder="{{ 'Search' | translate }}" [(ngModel)]="tagString" name="tagString" type="text" /> -->
                        <div class="form-group input-group col-xl-4">
                            <input class="form-control" [(ngModel)]="imageString" (change)="populateImages()"
                                name="imageString" type="text" />
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i>Save</button>
                                &nbsp;
                            </div>
                        </div>
                        <div class="form-group input-group col-xl-4">
                            <input class="form-control" [(ngModel)]="tagString" (change)="setGlobalTags()"
                                name="tagString" type="text" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" (click)="searchGoogle(tagString)"><i
                                        class="fa fa-search"></i></button>
                                &nbsp;
                            </div>
                        </div>
                        <div class="checkbox" *ngFor="let tag of tags; index as j">
                            <label> <input type="checkbox" (change)="setTagType(j,$event)" /> {{tag.tagName}} </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Slno</th>
                                    <th>Image</th>
                                    <th>Tags</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let image of images; index as i">
                                    <td>{{i}}</td>
                                    <td><img [src]="image.imageUrl"></td>
                                    <td>
                                        <span *ngFor="let tag of image.tags; index as j">
                                            <button [ngClass]="tag.tagType"
                                                (click)="removeTag(i,j)">{{tag.tagName}}</button>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="form-group input-group col-xl-4">
                                            <input class="form-control" style="min-width: 100px;"
                                                [(ngModel)]="tagsToAddString[i]" name="tagsToAddString" type="text" />
                                            <div class="input-group-append">
                                                <button class="btn btn-success"
                                                    (click)="addTags(i,tagsToAddString[i])"><i
                                                        class="fa fa-plus"></i>Add</button>
                                                &nbsp;
                                                <button class="btn btn-danger" (click)="deleteImage(i)"><i
                                                        class="fa fa-trash"></i></button>
                                                &nbsp;
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="c('Close click')" class="btn btn-secondary" type="button">Close</button>
        </div>
    </div>
</ng-template>

<div class="col-xl-12" *ngFor="let para of pageData; index as i;">
    <p [innerHTML]="para | safe: 'html'">
    </p>
</div>
<button class="open-modal btn-success" (click)="open(content)"><i class="fa fa-plus"></i></button>