/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/bootstrap';
@import 'spinner';
@import 'utils';
@import 'rtl';
@import 'responsive';

@media print {
    .breadcrumb {
        display: none !important;
    }
}
ngb-modal-backdrop{
    z-index: 105!important;
}
.image-modal-class .modal-dialog{
    max-width: 97%;
    max-height: 97%;
}