<div class="row">
    <div class="col-lg-12">
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchTags()">
            <!-- <input class="form-control mr-sm-2" placeholder="{{ 'Search' | translate }}" [(ngModel)]="tagString" name="tagString" type="text" /> -->
            <div class="form-group input-group col-xl-4">
                <input class="form-control" [(ngModel)]="tagString" 
                    name="tagString" type="text" />
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" ><i
                            class="fa fa-search"></i></button>
                    &nbsp;
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Slno</th>
                        <th>TagName</th>
                        <th>TagType</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of tags; index as i">
                        <td>{{i}}</td>
                        <td>{{tag.tagName}}</td>
                        <td>
                            <div class="form-group">
                                <label>Type</label>
                                <select name="tag-type" [(ngModel)]="tag.tagType" class="form-control">
                                    <option *ngFor="let tagType of tagTypes" [ngValue]="tagType">{{ tagType }}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group input-group col-xl-4">
                                <div class="input-group-append">
                                    <button class="btn btn-success"
                                        (click)="saveTag(tag)"><i
                                            class="fa fa-plus"></i>Save</button>
                                    &nbsp;
                                    <button class="btn btn-danger" (click)="deleteTag(tag.tagId)"><i
                                            class="fa fa-trash"></i></button>
                                    &nbsp;
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>